<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>My Sandwich App</title>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="js/main.js"></script>
	<link rel="stylesheet" href="css/global.css" media="screen" />
</head>
<body >
	<!-- TODO: add home page content -->
	<h1>Sandwich Shop</h1>
	<header>
		<nav></nav>
	</header>
	<main>
		<form id="order-form" method="POST" action="/order">
			<section class="create-sandwich">
				<div id="select-bread">
					<h3>Bread:</h3>
				</div>
				<div class="topping">
					<h3>Meats:</h3>
					<select id="select-meats">
						<option value="" selected disabled hidden>Select Meat</option>
					</select>
					<input type="button" id="add-meat" value="+"/>
					<div id="meat-order" class="topping-selected"></div>
				</div>
				<div class="topping">
					<h3>Vegetables:</h3>
					<select id="select-vegetables">
						<option value="" selected disabled hidden>Select Vegetable</option>
					</select>
					<input type="button" id="add-vegetable" value="+"/>
					<div id="vegetable-order" class="topping-selected"></div>
				</div>
				<div class="topping">
					<h3>Cheeses:</h3>
					<select id="select-cheeses">
						<option value="" selected disabled hidden>Select Cheese</option>
					</select>
					<input type="button" id="add-cheese" value="+"/>
					<div id="cheese-order" class="topping-selected"></div>
				</div>
				<div class="topping">
					<h3>Sauces:</h3>
					<select id="select-sauces">
						<option value="" selected disabled hidden>Select Sauce</option>
					</select>
					<input type="button" id="add-sauce" value="+"/>
					<div id="sauce-order" class="topping-selected"></div>
				</div>
				<div class="topping">
					<h3>Spices:</h3>
					<select id="select-spices">
						<option value="" selected disabled hidden>Select Spice</option>
					</select>
					<input type="button" id="add-spice" value="+"/>
					<div id="spice-order" class="topping-selected"></div>
				</div>
			</section>
			<section class="create-sides">
				<div class="beverage">
					<select id="select-beverages">
						<option value="" selected disabled hidden>Select Beverage</option>
					</select>
					<input type="button" id="add-beverage" value="+"/>
					<div id="beverage-order" class="topping-selected"></div>
				</div>
				<div class="dessert">
					<select id="select-desserts">
						<option value="" selected disabled hidden>Select Dessert</option>
					</select>
					<input type="button" id="add-dessert" value="+"/>
					<div id="dessert-order" class="topping-selected"></div>
				</div>
			</section>
		</form>

	</main>

	<footer>
	</footer>
</body>
</html>
